body {width: 100%;
  height: 100vh;
  margin: 0; background-color: #F0EADC;
  color: #474747;
font-family: Nunito, sans-serif;
  font-size: 20px;}
header {text-align: center;
margin: 1.5em auto;}
h1 {color: #F05A50;
font-family: Lora, serif;
font-size: 50px;
  text-align: center;
  margin-top: 0.5em}
label {color: #F05A50;
  display: block;
	margin: 0.5rem 0;
  font-family: Nunito;
  font-size: 20px;
}
fieldset {
  border-color: hsla(4, 84%, 40%, 1);
  width: 70vw;
  margin: auto;
  border-width: thick;
  border-style: solid;
  padding: 5% 10% 5% 10%;
}
.description {font-size: 18; width: 70vw;
margin: auto;
margin-bottom: 1.6em;
margin-top: 1.6em; font-family: Nunito;}
input, select {display: block; font-family: Nunito, sans-serif;
  font-size: 20px;
  background-color: #F7F4ED;
  color: #474747;
  border-color: #474747;
  border-width: 1px;
  padding: 4px;}
  input[type="radio"], input[type=checkbox] {display: inline;}
  .radio-element, .checkbox-element {color: #474747;}
select, input[type="text"], input[type="email"], input[type="number"], textarea {width: 100%;}
textarea{font-size: 20px;
font-family: Nunito, san-serif;
color:#474747;
border-color: #474747;
background-color:#F7F4ED;
min-height: 4em;
padding: 6px;}
input[type="submit"] {margin: auto;
background-color: #F05A50;
color: #F7F4ED;
border-color: hsla(4, 84%, 40%, 1);
border-style: solid;
border-width: 4px;
font-size: 30px;
padding: 1.5em;
display:block;
margin-top: 1.75em;
border-radius: 35%;
  font-family: Lora, serif;}
