body {
  width: 100%;
  height: 100%;
  background-image: url(https://i.imgur.com/2vznQDp.jpg);
  background-size: 100vw;
  background-attachment: fixed;
  margin: 0;
}
header {
  text-align: center;
  margin: 2em auto 2em auto;
  width: 60vw;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.3em;
  background-color: hsla(356, 64%, 91%, 0.6);
  border-radius: 1em;
}
h1 {
  font-family: Lora, serif;
  font-size: 50px;
  text-align: center;
  margin-top: 0.1em;
  letter-spacing: 1.7px;
  line-height: 1.2em;
}
h1,
label {
  color: hsl(4, 84%, 30%);
}
#description,
label,
input,
select,
textarea {
  font-family: Nunito, sans-serif;
  font-size: 20px;
}
#description,
input,
select,
textarea {
  color: hsl(0, 0%, 15%);
}
label {
  display: block;
  margin: 0.5rem 0;
}
fieldset {
  background-color: hsla(356, 64%, 91%, 0.6);
  border: none;
  width: 60vw;
  margin: 3.5em auto 2em;
  padding: 0 5% 2%;
  border-radius: 1em;
}
.question {
  font-size: 30px;
  margin-top: 1.5em;
}
.description {
  margin: auto;
  margin-bottom: 1.6em;
  margin-top: -0.7em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
input,
select {
  display: block;
  background-color: #f7f4ed;
  border-color: hsl(0, 0%, 15%);
  border-width: 1px;
  padding: 5px;
  text-align: left;
  padding-left: 0.3em;
}
input[type="radio"],
input[type="checkbox"] {
  display: inline;
}
.radio-element,
.checkbox-element {
  color: hsl(0, 0%, 15%);
}
select,
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
}
textarea {
  background-color: #f7f4ed;
  border-color: hsl(0, 0%, 15%);
  border: 1 pix solid;
  min-height: 4em;
  padding: 6px;
  width: 100%;
}
button {
  margin: auto;
  background-color: #bc4351;
  color: #f7f4ed;
  border-color: hsla(4, 84%, 30%, 1);
  border-style: solid;
  border-width: 4px;
  font-size: 36px;
  padding: 1.5em;
  display: block;
  margin-top: 1.2em;
  border-radius: 35%;
  font-family: Lora, serif;
  letter-spacing: 0.8px;
}
button:hover {
  background-color: hsl(356, 64%, 91%);
  color: hsla(4, 84%, 30%, 1);
  border-color: #bc4351;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  #description,
  label,
  input,
  select,
  textarea {
    font-size: 18px;
  }
  .question {
    font-size: 24px;
  }
  button {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  header,
  fieldset {
    width: 70vw;
  }
  h1 {
    font-size: 30px;
  }
  #description,
  label,
  input,
  select,
  textarea {
    font-size: 16px;
  }
  .question {
    font-size: 20px;
  }
  button {
    font-size: 20px;
  }
}
@media screen and (max-width: 640px) {
  header,
  fieldset {
    width: 80vw;
  }
  h1 {
    font-size: 24px;
  }
  .question {
    font-size: 18px;
  }
  button {
    font-size: 20px;
  }
